.event.event-starts-not-today
	border-top-left-radius: 0 !important
	border-bottom-left-radius: 0 !important
.event.event-ends-not-today
	border-top-right-radius: 0 !important
	border-bottom-right-radius: 0 !important
.event.event-spacer
	cursor: default !important