#app
	width: 100vw
	height: 100vh
	overflow: hidden

#app-container
	width: 100%
	height: 100%
	overflow: auto

// card
.medium-card
	padding: 2em 10em;
	@media (max-width: 900px)
		padding: 2em 8em;
	@media (max-width: 800px)
		padding: 2em 6em;
	@media (max-width: 700px)
		padding: 2em 4em;
	@media (max-width: 575px)
		padding: 2em 1em;


// Form
form.form-container
	display: flex
	flex-wrap: wrap
	gap: 1em
	> *
		flex: 1 0 100%
	.fl-full
		flex: 1 0 100%

// Basic Grid
.grid-6
	display: grid
	grid-template-columns: repeat(6, 1fr)
	gap: 1em
	@media (max-width: 575px)
		gap: 0.5em
	.col-6, > *
		grid-column: 1 / -1
	.col-5
		grid-column: span 5
	.col-4
		grid-column: span 4
	.col-3
		grid-column: span 3
	.col-2
		grid-column: span 2
	.col-1
		grid-column: span 1
	.col-center
		margin: auto

// Basic Grid : 12
.grid-12
	display: grid
	grid-template-columns: repeat(12, 1fr)
	gap: 1em
	.col-12, > *
		grid-column: 1 / -1
	.col-11
		grid-column: span 11
	.col-10
		grid-column: span 10
	.col-9
		grid-column: span 9
	.col-8
		grid-column: span 8
	.col-7
		grid-column: span 7
	.col-6
		grid-column: span 6
	.col-5
		grid-column: span 5
	.col-4
		grid-column: span 4
	.col-3
		grid-column: span 3
	.col-2
		grid-column: span 2
	.col-1
		grid-column: span 1
	.col-center
		margin: auto


// Scrolled & Fixed positions
.flex-column-container
	min-height: 0
	display: flex
	flex-direction: column
.section-scrolled
	flex: 1
	overflow-y: auto
.section-fixed
	flex: 0
